<div class="fbcs-pruchase">
  <header>
    <h1>Finalize Purchase</h1>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 panel panel-default">
        <h1 class="text-center">Review Your Order</h1>
        <hr>
        <h4 class="text-center">{{title}}</h4>
        <div class="purchase-list">
          <fbcs-list v-bind:items="ingredients"></fbcs-list>
        </div>
        <router-link to="/">
          <button type="button" class="btn btn-default btn-lg btn-block">Edit</button>
        </router-link>
        <h1 class="text-center">Checkout Information</h1>
        <hr>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="firstName" class="col-sm-2 control-label">First Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="firstName" v-model="user.firstName" placeholder="Name">
            </div>
          </div>
          <div class="form-group">
            <label for="lastName" class="col-sm-2 control-label" >Last Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="lastName" v-model="user.lastName" placeholder="Name">
            </div>
          </div>
          <div class="form-group">
            <label for="address1" class="col-sm-2 control-label">Address</label>
            <div class="col-sm-10">
              <input type="address" class="form-control" id="address1" v-model="user.address" placeholder="Address">
            </div>
          </div>

          <div class="form-group">
            <label for="credit1" class="col-sm-2 control-label">Credit Card Number</label>
            <div class="col-sm-10">
              <input type="credit1" class="form-control" id="credit1" v-model="purchase.cardNumber" placeholder="Credit Card Number">
            </div>
          </div>
          <div class="form-group">
              <div class="col-xs-12">
                <button type="button" v-on:click="finish()" class="btn btn-default btn-lg btn-block">Finish</button>
              </div>
          </div>
        </form>
      </div>
    </div>


  </div>
</div>



